<!DOCTYPE html5>
<html lang="es">
  <!-- Versión : <%= htmlWebpackPlugin.options.version %> -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div id="app">
      <ui-view>
        <p>Cargando...</p>
      </ui-view>
    </div>
  </body>
</html>
