@font-face {
  font-family: $manrope;
  src: url("./../fonts/Manrope800.ttf");
  font-weight: 800;
}

@font-face {
  font-family: $manrope;
  src: url("./../fonts/Manrope200.ttf");
  font-weight: 200;
}
